{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

    <style>
        body {
            background: linear-gradient(#ff9642, #ed00ff);
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        label {
            color: white;
        }

        .mycard {
            background: linear-gradient(#ed00ff, #ff9642);
        }

        #valid:hover {
            background-color: transparent;
            border: 2px solid #ff9642;
            color: white;
        }

        #loginform label {
        }
    </style>

    <form id="loginform" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}


        <div class="container-fluid">
            <div class="row justify-content-md-center">
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as
                        {{ app.user.username }},
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-4">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-4 m-2">
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control rounded" placeholder="Email" required autofocus>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-4 m-2">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control rounded" placeholder="Password" required>
                </div>
            </div>
            <div class="row mt-5 justify-content-md-center">
                <div class="col-md-12 text-center">
                    <label for="remember_me">Keep me logged in</label>
                    <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                </div>
                <div class="col-md-12"></div>
                <button id="valid" class="btn btn-lg btn-primary rounded" type="submit">
                    Sign in
                </button>
            </div>
            <div class="row justify-content-md-center">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
        </div>


        {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html
                        
                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}

    </form>
{% endblock %}
